# --- Buildozer / Kivy Android ---
.buildozer/
bin/
*.apk
*.aab
libs/armeabi-v7a/*
libs/arm64-v8a/*
*.keystore
*.jks

# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.idea
.DS_Store
Thumbs.db
*.log
p4a_310_env/
